<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Home</a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/admin-stocklist">Stock Blood list</a></li>
                <li><a routerLink='/admin-outstocklist'>Out of stock </a></li>
                <li><a routerLink="/donorlist">Donor list</a></li>
                <li><a routerLink="/NGOlist">NGO list</a></li>
                <li><a routerLink="/recipient">Recipients</a></li>



            </ul>
        </div>

    </div>
</nav>

<h1>Donor List</h1>
<a class="btn btn-primary pull-right product-add" routerLink="/donor-register">Add Donor</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Address</th>
            <th>City</th>
            <th>Blood Group</th>
            <th>Mobile Number</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let donor of donors'>
            <td>{{donor.name}}</td>
            <td>{{donor.email}}</td>
            <td>{{donor.age}}</td>
            <td>{{donor.address}}</td>
            <td>{{donor.city}}</td>
            <td>{{donor.bloodGroup}}</td>
            <td>{{donor.mobileNo}}</td>
            <td>
                <button (click)="onDelete()" class="btn btn-danger">delete <i
                        class="glyphicon glyphicon-trash"></i></button>
                <a routerLink="/menu-update" class="btn btn-warning"> <i class="glyphicon glyphicon-pencil"></i></a>

            </td>


        </tr>
    </tbody>
</table>