<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Home</a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/admin-stocklist">Stock Blood list</a></li>
                <li><a routerLink='/admin-outstocklist'>Out of stock </a></li>
                <li><a routerLink="/donorlist">Donor list</a></li>
                <li><a routerLink="/NGOlist">NGO list</a></li>
                <li><a routerLink="/recipient">Recipients</a></li>




            </ul>
        </div>

    </div>
</nav>


<div>
    <h1>Stock blood list</h1>
</div>

<a class="btn btn-primary pull-right product-add" routerLink="/menu-add">Add Stock</a>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th> Units</th>
            <th> Bloodgroup</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let outstock of outstocks">
            <td>{{outstock.UNITS}}</td>
            <td>{{outstock.BLOODGROUP}}</td>

            <td>
                <button (click)="onDelete()" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i></button>
                <a routerLink="/menu-update" class="btn btn-warning"> <i class="glyphicon glyphicon-pencil"></i></a>

            </td>
        </tr>


    </tbody>
</table>